{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}
{{ block.super }} : {{ title }}
{% endblock title %}


{% block main %}
    <div class="d-flex justify-content-between">
        <div class="col-3">
            <h1 class="mt-5 mb-4">{{ title }} Classda ishlamoqda</h1>
            {% get_all_categories as categories %}
            {% include 'blog/components/_sidebar.html' %}
        </div>
        <div class="col-8 mt-5">
            {% for article in articles %}
            {% include 'blog/components/_card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock main %}